@import "reset.css";
@import "normalize.css";

body {
	font: normal 14px 'Open Sans', Arial, sans-serif;
	color: black;
	background: white;
}



.wrap {
	width: 400px;
	margin: 0 auto;
}

.task-list {
	width: 88%;
	min-height: 300px;
	background: white;

}